services:
  db:
    image: pgvector/pgvector:pg16
    container_name: rag_pg
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${PG_HOST_PORT:-5433}:5432"
    volumes:
      - rag_pg_data:/var/lib/postgresql/data

volumes:
  rag_pg_data:
